:root {
  --color-black: #000000;
  --color-blue: #2196f3;
  --color-grey-nav: #212121;
  --color-white: #ffffff;
  --color-grey: #757575;
  --color-dark-grey: #2f303a;
  --color-light-grey: #e5e5e5;
  --color-medium-grey: #f5f4fa;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: var(--color-grey);
  background-color: var(--color-white);
  letter-spacing: 0.03em;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.logo {
  font-family: 'Raleway', sans-serif;
  color: var(--color-black);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo .link:visited {
  color: var(--color-black);
}

.blue-logo {
  color: var(--color-blue);
}
.blue-logo .link:visited {
  color: var(--color-blue);
}

.nav-list {
  list-style: none;
}

.nav-links {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--color-grey-nav);
  text-decoration: none;
}

.nav-links:visited {
  color: var(--color-grey-nav);
}
.nav-links:hover {
  color: var(--color-blue);
}

.contact-header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--color-grey);
  text-decoration: none;
}
.contact-header:visited {
  color: var(--color-grey);
}
.contact-header:hover {
  color: var(--color-blue);
}
.header-border {
  border-bottom: var(--color-light-grey) solid 1px;
}
.dark-background {
  background-color: var(--color-dark-grey);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 200px 0px 280px 0px;
}

h1 {
  color: var(--color-white);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.365;
  text-align: center;
}

.blue-button {
  color: var(--color-white);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  background-color: var(--color-blue);
  border-style: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  width: 200px;
  height: 50px;
  margin-left: 700px;
  margin-right: 700px;
}

.offer-header {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-grey-nav);
}

.offer-text {
  font-size: 14px;
  line-height: 1, 714;
  letter-spacing: 0.03em;
  color: var(--color-grey);
}
.offer-list {
  display: flex;
  list-style: none;
  flex-direction: row;
  margin: 94px 0 94px 0;
  gap: 30px;
  justify-content: center;
}

.offer-img-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-grey-nav);
}
.offer-img-list {
  display: flex;
  list-style: none;
  flex-direction: row;
  margin: 94px 0 94px 0;
  gap: 30px;
  justify-content: center;
}
.light-background {
  background-color: var(--color-medium-grey);
  padding: 94px 0;
}
.our-team {
  align-items: center;
  flex-direction: column;
}
.our-team-list {
  display: flex;
  list-style: none;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
}
.our-team-card {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding: 0;
}
.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-grey-nav);
}

.profession-name {
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-grey);
  margin-bottom: 30px;
}
footer {
  background: var(--color-dark-grey);
  height: 252px;
}
.white-logo {
  color: var(--color-white);
}
.contact-footer {
  font-size: 14px;
  font-style: normal;
  line-height: 1.7142;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.contact-footer:visited {
  color: rgba(255, 255, 255, 0.6);
}
address {
  margin-top: 20px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7142;
  letter-spacing: 0.03em;
  color: var(--color-white);
}
.contact-footer-list {
  list-style: none;
  padding: 0;
}
.contact-footer-list li {
  margin: 9px 0 9px 0;
}
.buttons {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 94px;
  list-style: none;
}
.portfolio-button {
  border-width: 0;
  height: 38px;
  width: 114px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.625;
  border-radius: 3px;
  padding: 6px 22px;
  background: var(--color-medium-grey);
  border-radius: 4px;
  font-family: 'Roboto';
  font-style: normal;
}

.portfolio-button:hover {
  box-shadow: 0px 2px 2px rgba(000, 000, 000, 0.3);
  background-color: var(--color-blue);
  color: var(--color-white);
  cursor: pointer;
}

.portfolio-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 34px;
  margin-bottom: 94px;
  list-style: none;
}
.portfolio-item-header {
  color: var(--color-grey-nav);
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.06em;
  line-height: 2;
  margin: 20px 0 4px 24px;
}
.portfolio-item-text {
  line-height: 1.88;
  font-size: 16px;
  margin: 0 0 0 24px;
}
